.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: #ddd;
      text-transform: uppercase;
    }
    .listItem {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px;
      border-radius: 5px;

      &:hover {
        background-color: #384256;
      }
    }
  }
  @media (max-width: 480px) {
    width: 50px;
    .item {
      .title {
        display: none;
      }
      .listItem {
        justify-content: center;
        .listItemTitle {
          display: none;
        }
      }
    }
  }
}
